.endChat {
  padding-bottom: 100px;
}
.newForm {
  width: 50%;
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;

  @media (width <= 1050px) {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  input {
    flex: 1;
    padding: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #ececec;
    @media (width <= 1050px) {
      padding: 10px;
    }
  }

  button,
  label {
    border-radius: 20%;
    background-color: #605e68;
    border: none;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
