.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  @media (width <= 1050px) {
    height: 90vh;
  }

  .wrapper {
    flex: 1;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    justify-content: center;

    /* Webkit Scrollbar Styling */
    &::-webkit-scrollbar {
      width: 12px; /* Width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Color of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(
        --scrollbar-thumb-color
      ); /* Color of the scrollbar thumb */
      border-radius: 10px; /* Roundness of the scrollbar thumb */
      border: 3px solid var(--scrollbar-thumb-color); /* Adds a border around the thumb for some padding */
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color of the thumb when hovered */
    }

    /* Firefox Scrollbar Styling */
    scrollbar-width: thin; /* "auto" or "thin" */
    scrollbar-color: var(
      --scrollbar-thumb-color
    ); /* Scrollbar thumb and track color */

    .chat {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (width <= 1050px) {
        width: 90vw;
        gap: 10px;
      }

      p,
      li {
        margin: 10px 0px;
      }

      .message {
        padding: 10px;

        &.user {
          background-color: var(--primary-color);
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-end;
        }
      }
    }
  }
}
