.chatList {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;

  hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    opacity: 0.1;
    border-radius: 5px;
    margin: 20px 0px;
  }

  .title {
    font-weight: 600;
    font-size: var(--font-size);
    margin-bottom: 10px;
  }

  .list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;

     /* Webkit scrollbar styles */
    &::-webkit-scrollbar {
      width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color); /* Background of the scrollbar track */
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color); /* Color of the scrollbar thumb */
      border-radius: 10px; /* Rounded corners */
      border: 3px solid var(--scrollbar-track-color); /* Padding around the thumb */
    }

    /* Firefox scrollbar styles */
    scrollbar-width: thin; /* Make scrollbar thinner */
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* Thumb and track colors */
  }
  }

  a {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;

    &:hover {
      background-color: var(--light-primary-color);
    }
  }

  .upgrade {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin-top: 20px;

    img {
      width: 24px;
      height: 24px;
    }

    .text {
      display: flex;
      flex-direction: column;

      span {
        &:first-child {
          font-weight: 600;
        }

        &:last-child {
          color: #888;
        }
      }
    }
  }
}